pandas
numpy
matplotlib
PyMuPDF
beautifulsoup4
docx2txt
faiss-cpu
langchain==0.1.20
langchain-community
langchain-groq
langchain-text-splitters
langchain-core
PyPDF2
python-docx
streamlit
altair<5
openpyxl
python-dotenv
pydantic
sentence-transformers
huggingface-hub
scikit-learn
networkx
pydot
Pillow
graphviz
