pandas
numpy
matplotlib
PyMuPDF
beautifulsoup4
docx2txt
faiss-cpu
langchain
langchain-community
langchain-groq
langchain-text-splitters
numpy
pandas
PyPDF2
python-docx
streamlit
openpyxl
python-dotenv
pydantic
sentence-transformers
huggingface-hub
